<nav class="top-bar">
  <ul class="menu">
    <li class="topbar-title"><a class="zurb-logo" href="../index.html"> KevCaz <strong> Website </strong></a>
</li></ul>
    <!-- <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <a class="page-link" href="{{site.baseurl}}/"> Home </a>
        </li>
        {% assign pagesort = site.pages | sort:"order"  %}
        {% for my_page in pagesort %}
          {% if my_page.title %}
            <li>
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <!-- <li class="menu-text">Site Title</li>
        <li class="has-submenu">
          <a href="#">One</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li> -->
      </ul>
    <!-- </div> -->

    <ul class="dropdown menu" data-dropdown-menu="tz4rup-dropdown-menu" data-click-open="false" role="menubar">
<li class="has-submenu is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Showcase" data-is-click="false">
<a href="http://zurb.com/responsive" tabindex="0">Showcase</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="http://zurb.com/responsive">Foundation Showcase</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../showcase/brands.html">Brands</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../showcase/case-studies.html">Case Studies</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../showcase/blog.html">Blog</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../showcase/buzz.html">Buzz</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../showcase/about.html">About Foundation</a></li>
</ul>
</li>
<li class="has-submenu is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Develop" data-is-click="false">
<a href="../develop/getting-started.html">Develop</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
<li class="title is-submenu-item is-dropdown-submenu-item" role="menuitem">Frameworks</li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../sites.html">Foundation for Sites</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../emails.html">Foundation for Email</a></li>
<li class="divider is-submenu-item is-dropdown-submenu-item" role="menuitem"></li>
<li class="title is-submenu-item is-dropdown-submenu-item" role="menuitem">Develop</li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../templates.html">HTML Templates</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../sites/resources.html">Resources</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../develop/building-blocks.html">Building Blocks</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../upload.html">Annotate Code</a></li>
</ul>
</li>
<li class="has-submenu is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Tutorials" data-is-click="false">
<a href="../learn/tutorials.html">Tutorials</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../learn/tutorials.html">Tutorials</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="http://zurb.com/university/lessons">Lessons</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="http://zurb.com/university/courses">Courses</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="http://zurb.com/university/training">Custom Training</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../learn/certification.html">Certification</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../learn/responsive-reading.html">Responsive Reading</a></li>
</ul>
</li>
<li class="has-submenu is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Get Involved" data-is-click="false">
<a href="../get-involved/support.html">Get Involved</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../get-involved/support.html">Connect</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="../get-involved/premium-support.html">PLZ Halp</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="http://foundation.zurb.com/forum/">Foundation Forum</a></li>
</ul>
</li>
<li class="has-submenu is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Docs" data-is-click="false">
<a href="../frameworks-docs.html">Docs</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a target="_blank" href="http://foundation.zurb.com/sites/docs/">Sites Docs</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a target="_blank" href="http://foundation.zurb.com/emails/docs">Emails Docs</a></li>
</ul>
</li>
<li role="menuitem"><a href="../develop/getting-started.html" class="button">Getting Started</a></li>
</ul>

<!-- <div class="top-bar-right">
  <ul class="menu">
    <li><input type="search" placeholder="Search"></li>
    <li><button type="button" class="button">Search</button></li>
  </ul>
</div> -->
</nav>



<header>

  <h1 style="text-align:center">Get Involved with Foundation</h1>


</header>
